{% extends "base.html" %}
{% load flatblock_tags %}
{% load waffle_tags %}

{% block class %}home gameover{% endblock %}

{% block content %}
  <h1 class="home-title">&lt;&#x200a; DemoParty &#x200a;&gt;</h1>
    <div class="home-welcome">
      <h2>Demo Art on the Web</h2>

      <p>Fostering artful exploration of web technologies
	<br>Submit your demo or participate at a local event</p>
    </div>
  <div class="button right">
    <a href="{% url vote.ballot %}"><br>Vote now!</a>
  </div>
  {% waffle allow_submissions %}
    <div class="button left">
      <a href="{% url games.create %}"><br>Submit Demo</a>
    </div>
  {% endwaffle %}
  {% waffle show_winners %}
    <div class="button left">
      <a href="{% url games.winners %}"><br>See the Winners</a>
    </div>
  {% endwaffle %}
	<div class="centered">
	<video width="640" height="360" controls="" id="demoparty-video" class="centered" tabindex="0">
		<source type="video/ogg" src="/media/demoparty_2011.ogv"></source>
	    <source type="video/mp4" src="/media/demoparty_2011.mp4"></source>
	    <source type="video/webm" src="/media/demoparty_2011.webm"></source>
	 </video>
	<br>Note: Video also available on <a href="http://vimeo.com/26640216">http://vimeo.com/26640216</a>
	</div>
{% endblock %}