{% extends "base.html" %}
{% load flatblock_tags %}

{% block class %}copy judging{% endblock %}

{% block content %}
<h1>The Experts</h1>
<section class="judges">
  <div>
    <img src="/media/img/judges/portrait_ricardo_cabello.png">
    <h2>Mr. Doob</h2>
    <h3>Artist and Scener</h3>
    <p>
Mr. Doob is a <a href="http://ricardocabello.com/demoscene">demoscener</a>, graphic designer and computer artist, focussing on the possibilities the web has to offer. He has created tons of beautiful web demos and is developing the open source library <a href="https://github.com/mrdoob/three.js">three.js</a>, a lightweight 3D engine for HTML canvas, SVG and WebGL. Most recently Mr. Doob was technical lead of <a href="http://ro.me">http://ro.me</a>, a web-based interactive music video. </p>
<p>You can find him online at <a href="http://mrdoob.com">http://mrdoob.com</a> and <a href="http://twitter.com/#!/mrdoob">@mrdoob</a>.
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_cory_arcangel.png">
    <h2>Cory Arcangel</h2>
    <h3>Digital Artist</h3>
    <p>
Cory Arcangel is a computer programmer, composer, and artist living and working in Brooklyn, New York. Recent and upcoming solo exhibitions include “Here Comes Everybody” at the Hamburger Bahnhof in Berlin, “Beat the Champ” at the Barbican in London, and <a href="http://www.thecreatorsproject.com/blog/cory-arcangels-ipro-toolsi-exhibition-opens-at-the-whitney-museum">“Pro Tools”</a> at the Whitney Museum of American Art in New York. His recent online work, source code, ephemera, mp3s, etc, etc, can be found at <a href="http://www.coryarcangel.com">http://www.coryarcangel.com</a>. He's also tweeting at <a href="http://twitter.com/cory_arcangel">@cory_arcangel</a>
    </p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_dragan_espenschied.png">
    <h2>Dragan Espenschied</h2>
    <h3>Artist and Musician</h3>
    <p>
Dragan Espenschied is an 8-bit musician and digital artist who lives and works in Stuttgart, Germany. Espenschied co-created his first Atari software in 1991. In 1995 he co-founded the 8-bit band <a href="http://www.bodenstandig.de/2000/">Bodenständig 2000</a>. Together with Olia Lialina he has exhibited <a href="http://art.teleportacia.org/exhibition/GRAVITY/">his web-based art work</a> around the world and released the book <a href="http://digitalfolklore.org/">Digital Folklore</a>.</p>
<p>Find Espenschied online at <a href="http://a-blast.org/~drx/">http://a-blast.org/~drx/</a> or at <a href="http://twitter.com/despens">@despens</a>
	    </p>
  </div>

  <div>
    <img src="/media/img/judges/portrait_julia_kaganskiy.png">
    <h2>Julia Kaganskiy</h2>
    <h3>Arts Journalist</h3>
    <p>
Julia Kaganinsky is an arts and music journalist, editor at VICE mag's <a href="http://www.thecreatorsproject.com/de/">Creators Project</a>. Kaganinskiy worked at the MOMA educational department and Fast Company Magazine recently called her one of the "<a href="http://www.fastcompany.com/women-in-tech/2011/entrepreneurs/julia-kaganskiy">Most influential Woman in Technology 2011</a>". She's also running NYC's Arts and Tech meetup and co-founded the Pop-up gallery <a href="http://www.blueboxgallery.com/">Blue Box</a>. We're excited to have her in the jury.</p> 
<p>Find Julia online at <a href="http://twitter.com/juliaxgulia">@juliaxgulia</a> or <a href="http://thecreatorsproject.com">http://thecreatorsproject.com</a>
    </p>
  </div>

  <div>
    <img src="/media/img/judges/portrait_paul_rouget.png">
    <h2>Paul Rouget</h2>
    <h3>Mozilla Tech Evangelist</h3>
    <p>
Paul Rouget. Nuff said ;) Paul Rouget is a hacker artist, and code is his canvas. During the last 2 years he has written lots of <a href="http://people.mozilla.com/~prouget/demos/">bleeding edge tech demos for Firefox</a>. Make sure to hide some brilliant jokes in your source code for him! Hint: He likes Ninja Turtles.</p>
<p>Find Paul online at <a href="http://hacks.mozilla.org/author/paul/">hacks.mozilla.org</a> and <a href="http://twitter.com/paulrouget">@paulrouget</a>
    </p>
  </div>

  <div>
    <img src="/media/img/judges/portrait_visy.png">
    <h2>Visa-Valtteri Pimiä</h2>
    <h3>Demo Scene Artist</h3>
    <p>
Known in the demoscene as visy/trilobit, Visa-Valtteri has experimented with demo art since 2001 and he has been interested in the artistic possibilities of computers since laying his eyes on the Commodore 64.

Working with <a href="http://www.youtube.com/watch?v=63_nw-z2inQ">Trilobit</a>, he is best known for demos for 8-bit devices such as Nintendo NES and Atari 2600, though he's coded for many platforms ranging from 8-bits to the 64-bits.

Currently he is <a href="http://low.fi/~visy/webgl/mkultra/">playing around with WebGL</a> for realtime full-HD visuals.</p>
<p>
Find Visy online at <a href="http://low.fi/~visy/">http://low.fi/~visy/</a> and <a href="http://twitter.com/quitenice">@quitenice</a>.
    </p>
  </div>

  <div>
    <img src="/media/img/judges/portrait_serdar_soganci.png">
    <h2>Serdar Soganci</h2>
    <h3>Rovio Game Developer</h3>
    <p>
Serdar is a Helsinki based game developer and manager of <a href="http://www.rovio.com/">Rovio Web Games</a>. Soganci has worked in the game industry since 2003, when he started to work on Nokia's N-Gage platform. He also worked as a game programmer at J2ME mobile games and Digital Chocolate, where he created iPhone and Flash games. Since 2010 he's part of Rovio Mobile, where he most recently was the lead developer of the <a href="http://chrome.angrybirds.com/">HTML5 release of 'Angry Birds'</a> titled 'Angry Birds Chrome'. (Yes, it also runs in Firefox)
</p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_julien_fourgeaud.png">
    <h2>Julien Fourgeaud</h2>
    <h3>Bad Piggy Bank Manager at Rovio</h3>
    <p>
Julien is <a href="http://www.rovio.com/">Rovio</a>'s Bad Piggy Bank Manager & Magician. Julien is driving Rovio's Virtual Goods/Currency as well as the NFC productization.
Before joining Rovio, Julien established his own mobile strategy company, he worked for the <a href="http://licensing.symbian.org/">Symbian Foundation</a> as a technology catalyst and at <a href="http://www.nokia.com/">Nokia</a>, contributing to key projects such as the transition from keypad to touch interface, and leading the major effort behind third-party integration for the N97 in 2009.
</p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_jussi_laakkonen.png">
    <h2>Jussi Laakkonen</h2>
    <h3>ASSEMBLY, Main Organizer</h3>
    <p>
Jussi is the main organizer of <a href="http://www.assembly.org">ASSEMBLY</a>, one of the world's most prestigious demoparties. Under his artist name "Abyss" he was part of the <a href="http://www.pouet.net/groups.php?which=51">Future Crew</a>, which has set one of the biggest milestones in demo history - The <a href="http://www.youtube.com/watch?v=XtCW-axRJV8">Second Reality</a> demo for PC.</p>
<p>
Jussi is also gaming entrereneur and founder & CEO of <a href="http://www.applifier.com/">Applifier</a>. Find him online at <a href="http://twitter.com/jussil">@jussil</a>
</p>
  </div>
  <div>
    <img src="/media/img/judges/portrait_bruce_lawson.png">
    <h2>Bruce Lawson</h2>
    <h3>Opera Web Evangelist</h3>
    <p>
Bruce Lawson is Web Evangelist at <a href="http://opera.com">Opera Software</a>, <a href="http://www.brucelawson.co.uk/category/my-music/">songwriter</a> and book author. His most recent book is <a href="http://www.amazon.com/Introducing-HTML5-Voices-That-Matter/dp/0321687299/ref=sr_1_1?ie=UTF8&s=books&qid=1308006684&sr=8-1">Introducing HTML5</a>, written together with Remy Sharp. Find him online at <a href="http://twitter.com/brucel">@brucel</a>

</p>
  </div>

</section>
{% endblock %}
