{% extends "base.html" %}
{% load flatblock_tags %}

{% block class %}prices copy{% endblock %}


{% block content %}
<h1>Demoparties</h1>
<h2>Participate!</h2>
<section class="parties">
	  <div>
	    <a href="http://mozillalabs.com/demoparty/helsinki"><img src="/media/img/parties/demoparty_the_flame_party_s.png"></a>
	    <h2>The Flame Party Helsinki</h2>
	    <h3>June 18th, 2011</h3>
	    <p>
			Join us in Helsinki for a day of HOT Open Web (aka HTML5) demo hacking, outdoor BBQ, beers and Finnish saunas! Attend hands-on HTML5 workshops during the day and collaborate with fellow hackers/artists till late night to take home the Flame Party Award!! Organized by the Alternative Party Crew, DOT and Mozilla Labs.
		</p>
		<p>
			[ <a href="http://mozillalabs.com/demoparty/parties/helsinki">Event Page</a> ] [ <a href="http://mozillalabs.com/blog/2011/05/the-flame-party-helsinki">Announcement Post</a> ] 
		</p>
	  </div>
	  <div>
	    <a href="http://mozillalabs.com/demoparty/boston"><img src="/media/img/parties/demoparty_logo_atparty_boston_s.png"></a>
	    <h2>Atparty Boston</h2>
	    <h3>June 18th-20th, 2011</h3>
	    <p>
			Partnering with Atparty Boston! Next to several competitions we've added the web categories “Single effect” and “Full effect”.

			Special guest will be our super-hacker Alistair MacDonald aka F1LT3R from Mozilla #audio – He’s hosting a HTML5 / WebGL workshop.</p>
		<p>
			[ <a href="http://mozillalabs.com/demoparty/parties/boston">Event Page</a> ] [ <a href="http://mozillalabs.com/blog/2011/06/demoparty-in-boston-with-aparty">Announcement Post</a> ]
		</p>
	  </div>
	  <div>
	    <a href="http://mozillalabs.com/demoparty/pune"><img src="/media/img/parties/demoparty_logo_mozilla_india_pune_s.png"></a>
	    <h2>Mozilla India Demoparty Pune</h2>
	    <h3>June 25th, 2011</h3>
	    <p>
			Mozilla India is arranging a DemoParty in India, Pune on June 25th. Join us for a full day + night of open web (aka HTML5) demo hacking, food/drinks! An artful exploration of open web technologies, in the tradition of the Demo Scene.
		</p>
		<p>
			[ <a href="http://mozillalabs.com/demoparty/parties/pune">Event Page</a> ] [ <a href="http://mozillalabs.com/blog/2011/06/demoparty-coming-to-pune-india/">Announcement Post</a> ] 
		</p>
	  </div>
	  <div>
	    <a href="http://mozillalabs.com/demoparty/paris"><img src="/media/img/parties/demoparty_demojs_paris_logo_s.png"></a>
	    <h2>DemoJS Paris</h2>
	    <h3>July 1st - July 2nd, 2011</h3>
	    <p>
			DemoJS Party is a french demo party focussed only on web technologies (JS, Canvas, SVG, Audio... well everything in the web).
			This event is brought to you by demoscene.fr, the Javscript user group Paris, Prologin and Mozilla Labs.</p>
		<p>
			[ <a href="http://mozillalabs.com/demoparty/parties/paris">Event Page</a> ] [ Announcement Post ] 
			</p>
	  </div>
	  <div>
	    <a href="http://mozillalabs.com/demoparty/oslo"><img src="/media/img/parties/demoparty_logo_solskogen_oslo_s.png"></a>
	    <h2>Solskogen Oslo</h2>
	    <h3>15th-17th of July, 2011</h3>
	    <p>
			We're partnering with the Solskogen.no demoparty in Oslo, Norway! Join us for 2 days of web (aka HTML5) demo hacking, soccer, camping, Amigas, outdoor BBQ, beers and Scandinavian hospitality! Like at “The Flame Party” in Helsinki, Solskogen 2011 will also challenge you to participate in a “Single Effect Compo“. Full compos can be submitted to the combined demo category also.
		</p>
		<p>
			[ <a href="http://mozillalabs.com/demoparty/parties/oslo">Event Page</a> ] [ <a href="http://mozillalabs.com/blog/2011/05/demoparty-coming-to-oslo/">Announcement Post</a> ] 
		</p>
	  </div>	
	  <div>
		<h2>This event already happened:</h2>
	    <a href="http://mozillalabs.com/blog/2011/03/demoparty-sneak-preview-in-nyc/"><img src="/media/img/parties/demoparty_sneak_peek_nyc_s.png"></a>
	    <h2 class="over">Sneak Peek NYC Resistor</h2>
	    <h3>March 30th, 2011</h3>
	    <p>
			Tobias Leingruber (@tbx) from F.A.T. will preview Mozilla Labs Demoparty at the NYC Resistor Hackerspace. He will give a brief introduction into the demoscene and will be joined by several artists and hackers to demo their work.
		</p>
		<p>
			[ <a href="http://mozillalabs.com/blog/2011/03/demoparty-sneak-preview-in-nyc/">Announcement Post</a> ] [ <a href="http://mozillalabs.com/blog/2011/03/line-up-for-tonights-sneak-peak-mozilla-labs-demoparty//">Line-up</a> ] [ <a href="http://mozillalabs.com/blog/2011/04/demoparty-sneak-preview-last-week-in-nyc/">Wrap-up</a> ] 
		</p>
	  </div>
</section>
{% endblock %}
