{% extends "base.html" %}
{% load flatblock_tags %}

{% block class %}parties copy{% endblock %}


{% block content %}
<h1>Demoparties</h1>
<h2>Participate!</h2>
<section class="parties">
	  <div>
	    <img src="/media/img/parties/demoparty_the_flame_party_s.png">
	    <h2>The Flame Party Helsinki</h2>
	    <h3>June 18th</h3>
	    <p>
	Mr. Doob is a <a href="http://ricardocabello.com/demoscene">demoscener</a>, graphic designer and computer artist, focussing on the possibilities the web has to offer. He has created tons of beautiful web demos and is developing the open source library <a href="https://github.com/mrdoob/three.js">three.js</a>, a lightweight 3D engine for HTML canvas, SVG and WebGL. Most recently Mr. Doob was technical lead of <a href="http://ro.me">http://ro.me</a>, a web-based interactive music video. </p>
	  </div>
	  <div>
	    <img src="/media/img/parties/demoparty_logo_atparty_boston_s.png">
	    <h2>Atparty Boston</h2>
	    <h3>June 18th-20th</h3>
	    <p>
	Mr. Doob is a <a href="http://ricardocabello.com/demoscene">demoscener</a>, graphic designer and computer artist, focussing on the possibilities the web has to offer. He has created tons of beautiful web demos and is developing the open source library <a href="https://github.com/mrdoob/three.js">three.js</a>, a lightweight 3D engine for HTML canvas, SVG and WebGL. Most recently Mr. Doob was technical lead of <a href="http://ro.me">http://ro.me</a>, a web-based interactive music video. </p>
	  </div>
	  <div>
	    <img src="/media/img/parties/demoparty_logo_mozilla_india_pune_s.png">
	    <h2>Mozilla India Demoparty Pune</h2>
	    <h3>June 25th</h3>
	    <p>
	Mr. Doob is a <a href="http://ricardocabello.com/demoscene">demoscener</a>, graphic designer and computer artist, focussing on the possibilities the web has to offer. He has created tons of beautiful web demos and is developing the open source library <a href="https://github.com/mrdoob/three.js">three.js</a>, a lightweight 3D engine for HTML canvas, SVG and WebGL. Most recently Mr. Doob was technical lead of <a href="http://ro.me">http://ro.me</a>, a web-based interactive music video. </p>
	  </div>
	  <div>
	    <img src="/media/img/parties/demoparty_sneak_peek_nyc_s.png">
	    <h2>NYC, March 30th</h2>
	    <h3>Sneak peek at NYC Resistor Hackerspace</h3>
	    <p>
	Mr. Doob is a <a href="http://ricardocabello.com/demoscene">demoscener</a>, graphic designer and computer artist, focussing on the possibilities the web has to offer. He has created tons of beautiful web demos and is developing the open source library <a href="https://github.com/mrdoob/three.js">three.js</a>, a lightweight 3D engine for HTML canvas, SVG and WebGL. Most recently Mr. Doob was technical lead of <a href="http://ro.me">http://ro.me</a>, a web-based interactive music video. </p>
	  </div>	
  <div>
    <img src="/media/img/parties/demoparty_sneak_peek_nyc_s.png">
    <h2>NYC, March 30th</h2>
    <h3>Sneak peek at NYC Resistor Hackerspace</h3>
    <p>
Mr. Doob is a <a href="http://ricardocabello.com/demoscene">demoscener</a>, graphic designer and computer artist, focussing on the possibilities the web has to offer. He has created tons of beautiful web demos and is developing the open source library <a href="https://github.com/mrdoob/three.js">three.js</a>, a lightweight 3D engine for HTML canvas, SVG and WebGL. Most recently Mr. Doob was technical lead of <a href="http://ro.me">http://ro.me</a>, a web-based interactive music video. </p>
  </div>

</section>
{% endblock %}
