{% extends "base.html" %}

{% load flatblock_tags %}

{% block class %}prizes copy{% endblock %}

{% block content %}
  <h1>Prizes and Categories</h1>
  <section class="grandprize">
    <h2>Main Web Demo</h2>
    <h3>WebGL, Canvas, anything goes - get NUTS!!</h3>
	<li>Trip to Helsinki, Finland for 2 persons to attend the <a href="http://www.altparty.org/">"Alternative Party"</a> and present your Demo in front of 1000 demo artists! (Flights, Hotel, Tickets)
    </li>
	<li>Rovio <a href="http://angrybirdsgifts.com">Angry Birds Merchandise</a>
	</li>
	<li>Mozilla Labs Demoparty 2011 T-shirts
	</li>
	<li>Your demo will be promoted at <a href="https://developer.mozilla.org/en-US/demos/">Mozilla's Demo Studio</a>
	</li>
	
	
	<h2>Single Effect Demo</h2>
    <h3>Submit a single beautiful or mind-blowing effect. Anything goes.</h3>
	<li>DIY 3D printer <a href="http://store.makerbot.com/cupcake-cnc-ultimate.html
	">Makerbot CupCake CNC Ultimate</a>, sponsored by <a href="http://tinkercad.com/">Tinkercad.com</a>
	</li>
	<li>Rovio <a href="http://angrybirdsgifts.com">Angry Birds Merchandise</a>
	</li>
	<li>Mozilla Labs Demoparty 2011 T-shirts
	</li>
	<li>Your demo will be promoted at <a href="https://developer.mozilla.org/en-US/demos/">Mozilla's Demo Studio</a>
	</li>	

	
	<h2>Audio Demo</h2>
    <h3>Demos with focus on audio, e.g. generate music, audio api…</h3>
	<li>Bluetooth Sennheiser Headphones (<a href="http://www.sennheiser.com/sennheiser/home_en.nsf/root/private_headphones_wireless-headphones_502378">PX 210 BT</a>)</li>
	<li>Rovio <a href="http://angrybirdsgifts.com">Angry Birds Merchandise</a>
	</li>
	<li>Mozilla Labs Demoparty 2011 T-shirts
	</li>
	<li>Your demo will be promoted at <a href="https://developer.mozilla.org/en-US/demos/">Mozilla's Demo Studio</a>
	</li>

	<h2>CSS3 Demo</h2>
    <h3>Blow us away with CSS3 - Transitions, Animations, etc.</h3>
	<li>
	<a href="http://store.makerbot.com/evil-mad-scientist-egg-bot.html">EggBot by MakerBot Industries</a>, sponsored by <a href="http://tinkercad.com/">Tinkercad.com</a>
	</li>
	<li>Rovio <a href="http://angrybirdsgifts.com">Angry Birds Merchandise</a>
	</li>
	<li>Mozilla Labs Demoparty 2011 T-shirts
	</li>
	<li>Your demo will be promoted at <a href="https://developer.mozilla.org/en-US/demos/">Mozilla's Demo Studio</a>
	</li>
	
	<h2>Animated GIF + SVG</h2>
    <h3>Maximum file size 512k, blow us away!</h3>
	<li>To be announced</li>
	<li>Rovio <a href="http://angrybirdsgifts.com">Angry Birds Merchandise</a>
	</li>
	<li>Mozilla Labs Demoparty 2011 T-shirts
	</li>
	<li>Your demo will be promoted at <a href="https://developer.mozilla.org/en-US/demos/">Mozilla's Demo Studio</a>
	</li>
	

  </section>
  
{% endblock %}