{% extends "base.html" %}

{% load flatblock_tags %}

{% block class %}prizes copy{% endblock %}

{% block content %}
  <h1>Prizes</h1>
  <section class="grandprize">
    <h2>Main Web Demo</h2>
	<li>Trip to Helsinki, Finland for 2 persons to attend the <a href="http://www.altparty.org/">"Alternative Party"</a> and present your Demo in front of 1000 demo artists! (Flights, Hotel, Tickets)
    </li>
	<li>Rovio <a href="http://angrybirdsgifts.com">Angry Birds Merchandise</a>
	</li>
	<li>Mozilla Labs Demoparty 2011 T-shirts
	</li>
	<li>Book "<a href="http://introducinghtml5.com/">Introducing HTML5</a>", signed by the authors Bruce Lawson and Remy Sharp
	</li>
	<li>Book "<a href="http://rawkes.com/foundationcanvas">HTML5 Canvas for Games and Entertainment</a> by Rob Hawkes
	</li>
	<li>Your demo will be promoted at <a href="https://developer.mozilla.org/en-US/demos/">Mozilla's Demo Studio</a>
	</li>
	
	
	<h2>Single Effect Demo</h2>
	<li>DIY 3D printer <a href="http://store.makerbot.com/cupcake-cnc-ultimate.html
	">Makerbot CupCake CNC Ultimate</a>, sponsored by <a href="http://tinkercad.com/">Tinkercad.com</a>
	</li>
	<li>Rovio <a href="http://angrybirdsgifts.com">Angry Birds Merchandise</a>
	</li>
	<li>Mozilla Labs Demoparty 2011 T-shirts
	</li>
	<li>Book "<a href="http://introducinghtml5.com/">Introducing HTML5</a>", signed by the authors Bruce Lawson and Remy Sharp
	</li>
	<li>Book "<a href="http://rawkes.com/foundationcanvas">HTML5 Canvas for Games and Entertainment</a> by Rob Hawkes
	</li>
	<li>Your demo will be promoted at <a href="https://developer.mozilla.org/en-US/demos/">Mozilla's Demo Studio</a>
	</li>	

	
	<h2>Audio Demo</h2>
	<li>Bluetooth Sennheiser Headphones (<a href="http://www.sennheiser.com/sennheiser/home_en.nsf/root/private_headphones_wireless-headphones_502378">PX 210 BT</a>)</li>
	<li>Rovio <a href="http://angrybirdsgifts.com">Angry Birds Merchandise</a>
	</li>
	<li>Mozilla Labs Demoparty 2011 T-shirts
	</li>
	<li>Book "<a href="http://introducinghtml5.com/">Introducing HTML5</a>", signed by the authors Bruce Lawson and Remy Sharp
	</li>
	<li>Book "<a href="http://rawkes.com/foundationcanvas">HTML5 Canvas for Games and Entertainment</a> by Rob Hawkes
	</li>
	<li>Your demo will be promoted at <a href="https://developer.mozilla.org/en-US/demos/">Mozilla's Demo Studio</a>
	</li>

	<h2>CSS3 Demo</h2>
	<li>Artzilla Silk Print (unique) by tbx <a href="http://www.flickr.com/photos/tobimcfly/3987944301/in/set-72157622730797618">Link</a></li>
	<li>Rovio <a href="http://angrybirdsgifts.com">Angry Birds Merchandise</a>
	</li>
	<li>Mozilla Labs Demoparty 2011 T-shirts
	</li>
	<li>Book "<a href="http://introducinghtml5.com/">Introducing HTML5</a>", signed by the authors Bruce Lawson and Remy Sharp
	</li>
	<li>Book "<a href="http://rawkes.com/foundationcanvas">HTML5 Canvas for Games and Entertainment</a> by Rob Hawkes
	</li>
	<li>Your demo will be promoted at <a href="https://developer.mozilla.org/en-US/demos/">Mozilla's Demo Studio</a>
	</li>
	
	<h2>Animated GIF + SVG</h2>
	<li>Artzilla Silk Print (unique) by tbx <a href="http://www.flickr.com/photos/tobimcfly/3987944301/in/set-72157622730797618">Link</a></li>
	<li>Rovio <a href="http://angrybirdsgifts.com">Angry Birds Merchandise</a>
	</li>
	<li>Mozilla Labs Demoparty 2011 T-shirts
	</li>
	<li>Book "<a href="http://introducinghtml5.com/">Introducing HTML5</a>", signed by the authors Bruce Lawson and Remy Sharp
	</li>
	<li>Book "<a href="http://rawkes.com/foundationcanvas">HTML5 Canvas for Games and Entertainment</a> by Rob Hawkes
	</li>
	<li>Your GIF/SVG will be promoted at <a href="https://developer.mozilla.org/en-US/demos/">Mozilla's Demo Studio</a>
	</li>
	

  </section>
  
{% endblock %}