{% extends "base.html" %}

{% block content %}
<h1>@ Party Boston</h1>
<h2>15th-17th of June 2011 - <a href="http://atparty-demoscene.eventbrite.com/">Register HERE</a></h2>
<p><a href="http://atparty-demoscene.net/"><img class="alignnone size-full wp-image-6807" src="http://mozillalabs.com/files/2011/06/demoparty_logo_atparty_boston.png" alt="" width="600" height="511" /></a></p>

<h2>What</h2>
<a href="http://mozillalabs.com/demoparty">Mozilla Labs Demoparty</a> is partnering with <a href="http://atparty-demoscene.net/">@Party Boston 2011</a>! Join us in the city Harvard in Massachusetts, 45min from Boston. There will be <a href="http://atparty-demoscene.net/compos.html">lots of compos</a> to submit demos to, and this year they've added the web categories "Single effect" and "Full effect" - Participate in exploring web technologies and win some stuff from Mozilla!!

Special guest will be our super-hacker Alistair MacDonald aka <a href="http://twitter.com/f1lt3r">F1LT3R</a> from Mozilla #audio - He's hosting a HTML5 / WebGL workshop.
<h2>Who</h2>
@Party is organized by the <a href="http://www.solskogen.no/">@Party crew</a> and produly supported by <a href="http://mozillalabs.com/demoparty">Mozilla Labs</a> as part of <a href="http://mozillalabs.com/demoparty">DemoParty</a>, an online competition and series of activities to foster artful development and exploration of web technologies.
<h2>Details</h2>
<strong>17.06.2011 - 19.06.2011</strong><strong></strong>

Ticket: $55 [ <a href="http://atparty-demoscene.eventbrite.com/">Get your ticket on Eventbrite</a> ]
More about the organizers: <a href="http://atparty-demoscene.net/organizers.html">http://atparty-demoscene.net/organizers.html</a>
Hashtags #demoparty #atparty @mozlabs
<h2>Evening’s Web Competition Details</h2>
<h3>Browser Demo: Single Effect</h3>
Open Web technologies only. No plug-ins, no extras. Testing platform: Firefox (if it runs cross-browser you get extra applause).  One screen, one effect, showtime max 60 seconds; blow us away!
<h3>Browser Demo: Multiple Effects</h3>
Open Web technologies only. No plug-ins, no extras. Testing platform: Firefox (if it runs cross-browser you get extra applause).      More than one effect.
<h1><a href="http://atparty-demoscene.eventbrite.com/">Click here &amp; get your ticket NOW!</a></h1>
Online Flyer:
<a href="http://atparty-demoscene.net/"><img class="alignnone size-full wp-image-6806" src="http://mozillalabs.com/files/2011/06/demoparty_atparty_boston.jpg" alt="" width="600" height="410" /></a>
{% endblock %}