{% extends "base.html" %}

{% block content %}
<h1>Sneak Peek at NYC Resistor</h1>
<img class="size-full wp-image-6163 aligncenter" src="http://mozillalabs.com/files/2011/03/demoparty_nyc_resistor.gif" alt="" width="500" height="340" />
<h2>What Is It</h2>
<strong>Mozilla Labs DemoParty 2011</strong> is an upcoming online competition to foster artful development and exploration of Open Web technologies, taking inspiration from the classic <a href="http://en.wikipedia.org/wiki/Demoscene">DemoScene</a>, accompanied by "real-life" events.
<h2>A Sneak Peak</h2>
Next Wednesday, our very own <a href="http://tobi-x.com/">Tobias Leingruber</a> (<a href="http://twitter.com/tbx">@tbx</a>) from <a href="http://fffff.at">F.A.T.</a> will preview this project at the <a href="http://www.nycresistor.com/">NYC Resistor Hackerspace</a>. He will be joined by other special guests, to be announced!
<h2>Event Details</h2>
In NYC? - Join us for Pizza + Beer as we dive into internet art, the DemoScene culture and Open Web Technology.

<a href="http://www.facebook.com/event.php?eid=202076839816872">Planning to come? Please sign up via Facebook</a> (or <a href="mailto:tobias ÄT mozilla.com">email</a> - so we can buy enough drinks)

<strong>Date</strong>: 30 March 2011 (Wednesday)
<strong>Time</strong>: 19:00 till late
<strong>Venue</strong>: <a href="http://www.nycresistor.com/">NYC Resistor Hackerspace</a>
<strong>Address</strong>: 87 3rd Avenue, 4th Floor, Brooklyn, NY 11217 (<a href="http://maps.google.com/maps?q=87+3rd+street,+11217&amp;oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hq=&amp;hnear=87+3rd+Ave,+Brooklyn,+Kings,+New+York+11217&amp;gl=us&amp;ei=IZOMS46aLtWMlAfc86muDQ&amp;ved=0CAcQ8gEwAA&amp;t=h&amp;z=16">Google Map</a>)
<h2>A Teaser</h2>
<p>
And to wet your appetite for the upcoming competition - here's a beautiful taster example demo, all made in HTML, Javascript and CSS, 3D rendered in your browser.</p>

<object width="560" height="349"><param name="movie" value="http://www.youtube.com/v/VUOIS3jtD8Y?fs=1&amp;hl=de_DE&amp;start=179" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><embed type="application/x-shockwave-flash" width="560" height="349" src="http://www.youtube.com/v/VUOIS3jtD8Y?fs=1&amp;hl=de_DE&amp;start=179"></embed></object>
<p>(Note: This is just a video capture! If you have one of the latest browsers installed, you can check out the <a href="http://videos.mozilla.org/serv/mozhacks/flight-of-the-navigator/">actual demo here</a>)</p>

For other Open Web Technology demos and source on <a href="http://www.webowonder.org/"><strong>Web O'(pen) Wonder</strong></a> &amp; the <a href="http://developer.mozilla.org/demos/"><strong>MDN Demo Studio</strong></a>.
<h2>Keep Updated</h2>
For all latest news, updates and announcements - follow <a href="http://twitter.com/MozLabs">@MozLabs on Twitter</a>.
{% endblock %}