{% extends "base.html" %}

{% block content %}
<h1>The Flame Party Helsinki</h1>
<h2>18th of June 2011 - <a href="http://www.fläbät.fi/event/010c7910/">Register HERE</a></h2>
<p><img class="alignnone size-full wp-image-6411" style="padding-left: 0px!important" src="http://mozillalabs.com/files/2011/04/demoparty_the_flame_party_logo1.png" alt="" width="600" height="511" /></p>

<h2>What</h2>
Join us in Helsinki for a day of HOT Open Web (aka HTML5) demo hacking, outdoor BBQ, beers and <a href="http://www.flickr.com/photos/tobimcfly/5613515978/in/photostream">Finnish saunas</a>! - An artful exploration of the Open Web Platform, in the tradition of the <a href="http://en.wikipedia.org/wiki/Demoparty">Demo Scene</a>.

Attend hands-on HTML5 workshops during the day and collaborate with fellow hackers/artists till late night to take home the Flame Party Award!! Demo Art gone world WILD web!
<h2>Who</h2>
HTML5 and Open Web geeks, DemoSceners and Internet artists - THIS event is for you!

The Flame Party is organized by the <a href="http://www.altparty.org/">Alternative Party Crew</a>, <a href="http://mozillalabs.com/demoparty">Mozilla Labs</a> and <a href="http://dot.ayy.fi/index.php?s=dot&amp;p=9">DOT, the Digital Media Club of Aalto University</a>, as part of <a href="http://mozillalabs.com/demoparty">DemoParty</a>, an online competition and series of activities to foster artful development and exploration of Open Web technologies.

We're proud to announce that <a href="http://www.rovio.com/">ROVIO</a>, the creator of "<a href="http://www.rovio.com/index.php?page=angry-birds">Angry Birds</a>" will be our a sponsor!!

<h2>Details</h2>
18.06.2011, 11:00 - Open End; Finnland, Helsinki (Smökki - Espoo, <a href="http://bit.ly/lkrTxV">Google Maps link</a> )
Ticket: 7€ (inluding 4 free drinks, sauna access and your participation at the evening's competition)
Ticket + sleeping spot 25€ (Saturday night + Friday night if you arrive early, limited to 20 people ATM)
Register now <a href="http://www.fläbät.fi/event/010c7910">through Fläbät.fi</a>, book your flights early and make sure to follow <a href="http://twitter.com/mozlabs">twitter.com/mozlabs</a> and <a href="http://facebook.com/mozlabs">facebook.com/mozlabs</a> for updates. More: <a href="http://www.facebook.com/event.php?eid=208867699145074">Sign up for the Event on Facebook</a> and <a href="http://lanyrd.com/2011/the-flame-party-helsinki/">Lanyard</a>
Contact the organizers: <a href="http://twitter.com/tbx">@tbx</a>, <a href="http://twitter.com/cyberdees">@cyberdees</a>, <a href="http://twitter.com/setok">@setok</a> and via email tobias |att| mozilla.com
Hashtags <a href="http://search.twitter.com/search?q=%23demoparty">#demoparty</a> <a href="http://search.twitter.com/search?q=%40mozlabs">@mozlabs</a>
<h3>Evening's Competition Details</h3>
Open Web technologies only, no plug-ins, no extras. Testing platform: Firefox 4 (If it runs cross-browser you get extra candy) Prepare yourself for 3 disciplines:
- <strong>Single effect compo</strong>
- <strong>Full Demo compo</strong>
- <strong>Flame Wars</strong> (special): A one-on-one battle to the death... of your opponent's dignity! Polite, well-mannered, witty taunting and mockery ('vittuilu' as they say in Finnish) is the name of the game. Disarm your opponent with words alone.
<h1><a href="http://www.fläbät.fi/event/010c7910/">Click here &amp; get your ticket NOW!</a></h1>
Invitation demo link: <a href="http://webmademovies.org/audio.3/">The Flame Party Invitation by #audio</a>

Invitation demo screen capture: 
<object width="600" height="349"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=24097853&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=24097853&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" width="600" height="349"></embed></object>

Online Flyer:
<a href="http://www.fläbät.fi/event/010c7910/"><img class="alignnone size-full wp-image-6398" src="http://mozillalabs.com/files/2011/04/demoparty_helsinki.jpg" alt="" width="649" height="444" /></a>
{% endblock %}