{% extends "base.html" %}

{% block content %}

<h1>Solskogen 2011</h1>

<h2>15th-17th of July 2011 - <a href="http://www.solskogen.no/?p=380">Register HERE</a></h2>
<p><a href="http://www.solskogen.no/"><img src="/media/img/parties/demoparty_logo_solskogen_oslo.png" alt="" width="600" height="511" /></a></p>

<h2>What</h2>
<a href="http://mozillalabs.com/demoparty">Mozilla Labs Demoparty</a> is partnering with <a href="http://www.solskogen.no/">Solskogen 2011</a>! Join us in Oslo for 2 days of web (aka HTML5) demo hacking, soccer, camping, Amigas, outdoor BBQ, beers and Scandinavian hospitality! An artful exploration of open web technologies, in the tradition of the <a href="http://en.wikipedia.org/wiki/Demoparty">Demo Scene</a>.
<h2>Who</h2>
HTML5 and Open Web geeks, DemoSceners and Internet Artists - THIS event is for you!
Solskogen is organized by the <a href="http://www.solskogen.no/">Solskogen crew</a> and <a href="http://mozillalabs.com/demoparty">Mozilla Labs</a> as part of <a href="http://mozillalabs.com/demoparty">DemoParty</a>, an online competition and series of activities to foster artful development and exploration of web technologies.
<h2>Details</h2>
<strong>15.07.2011 (Friday), 14:00 (Party begins)</strong>
<br><br><strong> 17.07.2011 (Sunday), 14:00 (Party ends)</strong>

<p>Ticket: 30€ (inkluding big free BBQ on Saturday!)<br>
Location: Norway; Kroer vel, Kroer; 1430 Ås (Kroer Samfunnshus)  <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=105203320577175742740.000464bfe9a7e257f4987&amp;ll=59.635866,10.852175&amp;spn=0.006942,0.019741&amp;z=15&amp;source=embed">Google Maps Link</a>
Register now through <a href="http://solskogen.no/">Solskogen.no</a>, book your flights early and make sure to follow <a href="http://twitter.com/mozlabs">twitter.com/mozlabs</a> and <a href="http://facebook.com/mozlabs">facebook.com/mozlabs</a> for updates.</p>
Contact the organizers: <a href="http://twitter.com/gloom303">@gloom303</a>, <a href="http://twitter.com/tbx">@tbx</a>, <a href="http://twitter.com/cyberdees">@cyberdees</a>, <a href="twitter.com/solskogenparty">@solskogenparty</a> or via email tobias (at) mozilla.com or solskogen.demoparty (at) gmail.com
<br>Hashtags #demoparty #solskogen
<h2>Evening’s Web Competition Details</h2>
<p>Open Web technologies only, no plug-ins, no extras. Testing platform: Firefox (If it runs cross-browser you get extra candy)</p>

Prepare yourself for 2 disciplines:
<br>- Single effect compo (one screen, one effect, max 60 seconds - blow us away!)
<br>- Full Demo compo (as part of the regular demo compo, only using web technologies!)
<h2><a href="http://www.solskogen.no/?p=380">Click here &amp; get your ticket NOW!</a></h2>
<p>Online Flyer:</p>
<a href="http://www.solskogen.no/"><img src="/media/img/parties/demoparty_solskogen_oslo.png" alt="" width="600" height="410" /></a>

{% endblock %}