{% extends "base.html" %}

{% block content %}
<h1>DemoJS Paris 2011</h1>
<h2>July 1st and 2nd 2011 - <a href="http://demojs.org/">Register HERE</a></h2>
<p><a href="http://demojs.org/"><img class="alignnone size-full wp-image-6846" src="http://mozillalabs.com/files/2011/06/demoparty_demojs_paris_logo.png" alt="" width="600" height="511" /></a></p>

<h2>What</h2>
DemoJS Party is a french demo party focussed only on web technologies (JS, Canvas, SVG, Audio... well everything in the web).
<br><br>
This event is brought to you by<a href="http://demoscene.fr"> demoscene.fr</a>, the<a href="http://parisjs.org/"> Javscript user group Paris</a>, <a href="http://prologin.org">Prologin</a> and Mozilla Labs.
<h2>Details</h2>
<ul>
<li>01.07.2011 (Friday), 19:30 - The hacking begins!</li>
<li> 02.07.2011 (Saturday), 14:00 - Workshops + Talks </li>
<li> 02.07.2011 (Saturday), 21:00 - Final Show, Announcement of the winners</li>
</ul>

Tickets: Free Entrance, <a href="http://demojs.org/">sign-up here</a><br>
Location:<a href="http://isartdigital.com"> ISART Digital</a>, 2 Rue de la Roquette; 75011 Paris; <a href="http://maps.google.fr/maps/place?cid=17276573219679946472&amp;q=ISART+DIGITAL,+Rue+de+la+Roquette,+Paris&amp;hl=fr&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=0wf1Ta-FB9yNsAaa9I3hAw">Google Maps Link</a>
<br>
Follow <a href="http://twitter.com/mozlabs">twitter.com/mozlabs</a> and <a href="http://facebook.com/mozlabs">facebook.com/mozlabs</a> for updates.
<br>
Contact the organizers: <a href="http://twitter.com/gatuingt">@gatuingt</a> + <a href="http://twitter.com/tbx">@tbx</a>
Hashtags: #demojs #demoparty
<h2>Evening’s Competition Details</h2>
Open web technologies only, no plug-ins, no extras. Testing platform: Firefox (If it runs cross-browser you get extra candy)
<br><br>
Prepare yourself for 3 disciplines:
<br>- Single effect compo
<br>- Full Demo compo
<br>- 1k (!!)
<h2><a href="http://www.demojs.org/">Visit demojs.org and sign-up now!</a></h2>
Online Flyer:<br>
<a href="http://demojs.org/"><img src="http://mozillalabs.com/files/2011/06/demoparty_demojs_paris_flyer1.jpg" alt="" width="600" height="410" /></a>
{% endblock %}