{% extends "base.html" %}

{% block content %}
<h1>Mozilla India Pune Demoparty</h1>
<h2>June 25th 2011</h2>
<p><a href="http://www.solskogen.no/"><img class="alignnone size-full wp-image-6737" src="/media/img/parties/demoparty_logo_mozilla_india_pune.png" alt="" width="600" height="511" /></a></p>

<h2>What</h2>
Join <a href="http://mozillaindia.org">Mozilla India</a> for a full day + night of open web (aka HTML5) demo hacking, food/drinks! An artful exploration of open web technologies, in the tradition of the <a href="http://en.wikipedia.org/wiki/Demoparty">Demo Scene</a>.

Attend hands-on HTML5 workshops and collaborate with hackers and artists till late night or even the next day to take home  the evenings Demo Party Award.
<h2>Who</h2>
HTML5 and Open Web geeks, DemoSceners and Internet Artists
The India Pune Demoparty is organized by <a href="http://mozillaindia.org">Mozilla India</a> and <a href="http://mozillalabs.com/demoparty">Mozilla Labs</a> as part of <a href="http://mozillalabs.com/demoparty">DemoParty</a>, an online competition and series of activities to foster artful development and exploration of web technologies.
<h2>Details</h2>
June 25th, Pune (India)

Location: <a href="http://www.symbiosiscomputers.com/">Symbiosis Institute of Computer Studies and Research (SICSR)</a>

Contact the organizers: <a href="http://twitter.com/vineelreddy">@vineelreddy</a>, <a href="http://twitter.com/GalaxyK">@GalaxyK</a>, <a href="http://twitter.com/tbx">@tbx</a>, or via email: pindivineelreddy (att) gmail.com, bubblyguy (att) gmail.com or tobias (att) mozilla.com
Hashtags #demoparty #mozindia
<h2>Evening’s Web Competition Details</h2>
Submit your demo and win a prize! Blow us away! Open Web technologies only, no plug-ins, no extras. Testing platform: Firefox (If it runs cross-browser you get extra candy)
<br><br>
Online Flyer:<br>
<a href="http://mozillaindia.org"><img src="/media/img/parties/demoparty_mozilla_india_pune.jpg" alt="" width="600" height="410" /></a>
{% endblock %}